.order-management {
    display: flex;
    justify-content: space-around;
    background-color: #e0f2f1; /* Soft green background */
    font-family: 'Playfair Display', serif; /* Elegant and unique font */
    padding: 20px;
  }
  
  .rooms-column, .items-column {
    width: 45%;
    padding: 15px;
    background-color: #f0fff0; /* Slightly different green for contrast */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  h2 {
    color: #34515e;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .room-entry, .item-entry {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  }
  
  button {
    background-color: #009688; /* Teal color for contrast */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #00796b;
  }
  
  .admin-dashboard input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-room-form, .add-item-form {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  }
  
  /* Additional styling for form inputs and buttons */
  .admin-dashboard input[type="submit"] {
    background-color: #ff5722; /* Warm color for submit buttons */
    width: auto;
    transition: background-color 0.3s;
  }
  
  .admin-dashboard input[type="submit"]:hover {
    background-color: #e64a19;
  }
  

  .admin-dashboard .logout-button {
    background-color: #f44336; /* Red color for logout */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-self: center;
  }
  
  .admin-dashboard .logout-button:hover {
    background-color: #d32f2f;
  }
  